@using Microsoft.AspNetCore.Http
@{
    // Build return URL so user comes back to the same page after login/logout
    var here = Context?.Request?.Path + Context?.Request?.QueryString;
}

@if (User.Identity?.IsAuthenticated == true)
{
    <form asp-page="/Account/SignOut"
          asp-route-returnUrl="@here"
          method="get"
          class="auth-form">
        <img src="@Url.Content("~/Images/Honeywell-icon.png")"
             alt="Honeywell"
             style="height:24px;width:auto;vertical-align:middle;" />
        <span>
            Hello,
            @(
                    User.FindFirst("given_name")?.Value
                    ?? User.FindFirst("name")?.Value
                    ?? User.Identity?.Name
                    )!
    </span>
    <fluent-button type="submit" appearance="neutral" style="padding:6px 16px; border-radius:8px;">
        <img slot="start" src="~/icons/ic_fluent_arrow_exit_24_filled.svg"
             alt="Sign out icon" style="width:18px; height:18px;" />
        Sign&nbsp;out
    </fluent-button>
</form>
}
else
{
    <img src="@Url.Content("~/Images/Honeywell-icon.png")"
         alt="Honeywell"
         style="height:24px;width:auto;vertical-align:middle;" />
    <a asp-page="/Account/SignIn"
       asp-route-returnUrl="@here"
       class="btn-link">Sign in</a>
}
